# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.idea/
*.iml

dependencies/
logs/
specimin/
analysis_agent_workspace/
targets/
replay/
workspace/
cf/
failed_minimizations.txt
analysis_agent_logs/
problems_memory/

.env